<!DOCTYPE html>

<html lang="en" ng-app="SanityApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TypeScript: Bringing Sanity to JavaScript</title>
    <link rel="stylesheet" href="content/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="Content/shCore.css" type="text/css" />
    <link rel="stylesheet" href="Content/shThemeDefault.css" type="text/css" />
    <link rel="stylesheet" href="app.css" type="text/css" />
    <script src="Demos/ArrowFunctionExpressions/Example.js"></script>
    <script src="Demos/DefaultParameters/Example.js"></script>
    <script src="Demos/OptionalParameters/Example.js"></script>
    <script src="Demos/RestParameters/Example.js"></script>
    <script src="Demos/FunctionOverloading/Example.js"></script>
    <script src="Demos/StandardEnumerations/Example.js"></script>
    <script src="Demos/ComputedMemberEnums/Example.js"></script>
    <script src="Demos/Classes/Example.js"></script>
    <script src="Demos/Accessors/Example.js"></script>
    <script src="Demos/ParameterProperties/Example.js"></script>
    <script src="Demos/Inheritance/Example.js"></script>
    <script src="Demos/Interfaces/Example.js"></script>
    <script src="Demos/TypeCompatibility/Example.js"></script>
    <script src="Demos/FunctionInterfaces/Example.js"></script>
    <script src="Demos/AmbientDeclarations/Example.js"></script>
    <script src="Demos/Modules/Example.js"></script>
    <script src="Scripts/jquery-1.9.0.js"></script>
    <script src="Scripts/bootstrap.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/angular-sanitize.js"></script>
    <script src="Scripts/shCore.js"></script>
    <script src="Scripts/shBrushJScript.js"></script>
    <script src="Scripts/shBrushTypeScript.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="SanityController as Sanity">
    <div class="container">
        <div class="row">
            <h1 class="page-header">
                TypeScript: <small id="currentExampleName">{{title}}</small>
                <div class="btn-group pull-right">
                    <button class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                        Select An Example <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a ng-click="Sanity.handleClick($event, 'ArrowFunctionExpressions')">Arrow Function Expressions</a></li>
                        <li><a ng-click="Sanity.handleClick($event, 'FunctionOverloading')">Function Overloading</a></li>
                        <li><a ng-click="Sanity.handleClick($event, 'DefaultParameters')">Default Parameters</a></li>
                        <li><a ng-click="Sanity.handleClick($event, 'OptionalParameters')">Optional Parameters</a></li>
                        <li><a ng-click="Sanity.handleClick($event, 'RestParameters')">Rest Parameters</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="Sanity.handleClick($event, 'StandardEnumerations')">Standard Enumerations</a></li>
                        <li><a ng-click="Sanity.handleClick($event, 'ComputedMemberEnums')">Computed Member Enumerations</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="Sanity.handleClick($event, 'Classes')">Classes</a></li>
                        <li><a ng-click="Sanity.handleClick($event, 'Accessors')">Accessors</a></li>
                        <li><a ng-click="Sanity.handleClick($event, 'ParameterProperties')">Parameter Properties</a></li>
                        <li><a ng-click="Sanity.handleClick($event, 'Inheritance')">Inheritance</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="Sanity.handleClick($event, 'Interfaces')">Interfaces</a></li>
                        <li><a ng-click="Sanity.handleClick($event, 'TypeCompatibility')">Type Compatibility</a></li>
                        <li><a ng-click="Sanity.handleClick($event, 'FunctionInterfaces')">Function Interfaces</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="Sanity.handleClick($event, 'Modules')">Modules</a></li>
                        <li><a ng-click="Sanity.handleClick($event, 'AmbientDeclarations')">Ambient Declarations</a></li>
                    </ul>
                </div>
            </h1>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <p></p>
                <ul id="viewTabs" class="nav nav-pills">
                    <li class="active"><a href="#description" data-toggle="tab">Feature Overview</a></li>
                    <li><a href="#typeScriptSource" data-toggle="tab">TypeScript Example</a></li>
                    <li><a href="#javaScriptSource" data-toggle="tab">Compiled JavaScript</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="description">
                        <div ng-bind-html="demoDescription"></div>
                    </div>
                    <div class="tab-pane fade" id="typeScriptSource">
                        <div ng-bind-html="demoTsSource"></div>
                        <div><h2><span class="label label-default">Script Output</span></h2></div>
                        <div ng-bind-html="demoOutput"></div>
                    </div>
                    <div class="tab-pane fade" id="javaScriptSource">
                        <div ng-bind-html="demoJsSource"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
